<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50805623458-bgiiiboov4vgqha7h949ia93ja5l84ki.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50805623458-bgiiiboov4vgqha7h949ia93ja5l84ki</string>
	<key>API_KEY</key>
	<string>AIzaSyBTRmiBiHh7euZwtFqbbOXIohPGU1CuFg8</string>
	<key>GCM_SENDER_ID</key>
	<string>50805623458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.devxhub.todo</string>
	<key>PROJECT_ID</key>
	<string>todo-assignment-48d6e</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-assignment-48d6e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50805623458:ios:a14ebd59a1f0fee052e5fb</string>
</dict>
</plist>